.header{
  background-color: #202123;
  height: 5vh;
  display: flex;
  flex-direction: row;
  width: 99vw;
}

.navbar{
  display: flex;
  flex-direction: row;
  margin-left: 0;
  width: 90%;
  justify-content: space-evenly;
  padding-top: 7px;
}

.header-name{
  width:10%;
  display: flex;
  justify-content: center;
  padding-top: 7px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #343541;
}

*{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

.Chat{
  background-color: #343541;
  display: flex;
}

.sidebar{
  background-color: #202123;
  height: 95vh;
  width: 240px;
  border-color: aliceblue;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-chat{
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.add-button{
  border: solid 0.5px rgba(255,255,255,0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.history{
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li{
  list-style-type: none;
  padding: 15px 0;
  cursor: pointer;
}

.input-container{
  position: relative;
  width: 75%;
}

.bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container input{
  width: 100%;
  border: solid 1px;
  background-color: rgba(255,255,255,0.5);
  padding: 12px 15px;
  border-radius: 5px;
}

input:focus{
  outline: none;
}

#submit{
  position: absolute;
  bottom: 12px;
  right: 0;
  cursor: pointer;
}

.feed{
  overflow: scroll;
  width: 100%;
  padding: 0;
}

.feed li{
  display: flex;
  background-color: #444654;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

.feed p{
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  text-align: left;
}

.feed p.role{
  min-width: 100px;
}

.search{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}


.ImageGen{
  width: 100vw;  
  height: 100vh;
  background-color: #343541;
}

.input-container-images{
  width: 100%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0,0,82,0.15) 0 2px 4px;
}

.input-container-images input{
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  width: 90%;
  font-weight: 200;
}

.input-container-images button{
  width: 10%;
  border: none;
  border-left: 1px #cacaca solid;
  background-color: darkslategray;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.images-section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.images-section img{
    margin: 1px;
    min-width: 250px;
    max-width: 33%;
    flex-grow: 1;
}

@media (max-width: 556px) {
  .images-section img{
    max-width: 100%;
  }
}

.sql-gen{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(34,34,34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.query-input-container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sql-gen input{
  font-size: 16px;
  width: 85%;
  background-color: rgba(255,255,255,0.5);
}

.query-input-container button{
  width: 5%;
  border: none;
  border-left: 1px #cacaca solid;
  background-color: darkslategray;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.displayQueries{
  width: 96%;
  margin: 2%;
  height: 30%;
  border-radius: 8px;
  background-color: rgb(34,34,34);
  overflow: hidden;
  
}